{% extends 'base.html.twig' %}

{# {% block title %}Show movie - {{ parent() }}{% endblock %} #}

{% block title 'List movies - ' ~ parent() %}

{% block body %}
    List movies :
    <ul>
        {% for movie in movies %}
            <li><a href="{{ path('app_movie_show', {'id': movie.id}) }}">{{ movie.title }}</a></li>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_movie_create') }}">Create a new movie</a>
    {% endif %}
{% endblock %}
