{% extends 'base.html.twig' %}

{# {% block title %}Show movie - {{ parent() }}{% endblock %} #}

{% block title 'Show movie - ' ~ parent() %}

{% block body %}
    {% dump(movie) %}
    <h2>{{ movie.title }}</h2>
    <p>{{ movie.description }}</p>
{% endblock %}
